<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf</title>
</head>
<body>
    <h1>타임리프 익히기</h1>
<!-- LocalDate를 yyyy-MM--dd 포맷으로 변경-->
<p th:text="${#temporals.format(today,'yyyy-MM--dd')}"></p>
<div th:object="${person}">
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}">
        <li th:text="${hobby}"></li>
        <span th:if="${hobby == '운동'}">(대표 취미)</span>
    </ul>

    <a th:href="@{/api/articels/{id}(id=${person.id})}">글 보기</a>
</div>
</body>
</html>